/* styles.css */
body {
    font-family: Dancing Script, cursive;
    background-color: #f4f4f4;
    background-image: url('Images/white\ with\ gray\ stroke\ brush\ background.avif');
    font-family: 'Dancing Script', cursive;
    background-size: cover; /* Ajuste l’image à la taille de l’écran */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* Garde l’image fixe en scrollant */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

.projet {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* ← Le contour noir */
    width: 100%;
    max-width: 600px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center; /* tous les text sont centrer horizontalement. */
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}
